@{
    ViewData["Title"] = "Confidențialitate";
}

<section class="page-section section-white">
    <div class="container text-center py-5">
        <p class="fs-5">Te rugăm să consulți pagina noastră de
            <a asp-controller="Legal" asp-action="Privacy">Politica de Confidențialitate</a>.
        </p>
    </div>
</section>
