<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\CareerRookies.Web.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ConnectionStrings__DefaultConnection" value="Server=.\\MSSQLSERVER2022;Database=CareerRookiesDb;User Id=demo-urs-work;Password=demo-pass2-work;TrustServerCertificate=True;" />
          <environmentVariable name="AdminSettings__Email" value="admin@careerrookies.ro" />
          <environmentVariable name="AdminSettings__Password" value="Admin123!" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
